*{
    margin: 0;
    padding: 0;
}    
body{
    background:#262626;
}
.but1{
    margin-bottom: 2px;
    border: #fff 2px solid;
    width:70px;
    height:80px;
    border-radius: 2px;
    color:#fff;
    background-color:#2CBEC1;
    font-size: 25px;
}
.but2{
    margin-bottom: 2px;
    border: #702CC1 2px solid;
    width:70px;
    height:80px;
    border-radius: 2px;
    color:#702CC1;
    font-size:25px;
}
#valor{
    display:block;
    text-align:center;
    font-size:50px;
    margin-bottom:50px;
    width:300px;
    height: 100px;
    line-height: 100px;
    background-color:#fff;
    border-radius: 2px;
    color:#9E2CC1;
    border: #702CC1 2px solid;
}

.calculadora{
    display: line-block;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #2CBCC1, #702CC1,#9E2CC1);
    width: 300px;
    height: 478px;
    border-radius: 2px;
    margin-top:2px;}